body{
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column;
}

#movie-container{
    background-color: (0,0,0,0); /* 각 영화 컨테이너의 배경색 */
    padding: 20px; /* 컨테이너 내부 여백 */
    margin: 20px auto; /* 컨테이너 간격 */
    border-radius: 10px; /* 둥근 모서리 */
    border: 1px solid #444; /* 경계선 */
    max-width: 900px; /* 최대 너비 */
    overflow: hidden; /* 플로팅된 요소가 컨테이너를 벗어나지 않도록 */

}

.movie-title{
    color: black;
}

.movie-img{
    float:left;
    margin-right: 20px;
    margin-top : 20px;
    clear:both;
}


.movie-title a {
    color: white; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
}

.movie-title a:hover {
    color : #829DFF;
}

.movie-genre {
    list-style-type : none;
    line-height: 160%;
}


.movie-content {
    display: flex;
    align-items: flex-start; /* Aligns items at the start of the cross axis */
}

.movie-img {
    margin-right: 20px;
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
}

.movie-summary {
    flex: 1; /* Allows the summary to take the remaining space */
    line-height: 180%;
}
  